.contact-page {
  height: 90vh;
  font-family: Marsellus;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  font-size: 26px;
}
.user {
  display: flex;
  gap: 20px;
  padding-top: 100px;
  max-width: 800px;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;

  &__one {
    width: 250px;
    height: 250px;
    background-image: url("https://avatars.githubusercontent.com/u/106308348?v=4");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__two {
    width: 250px;
    height: 250px;
    background-image: url("https://avatars.githubusercontent.com/u/44647025?v=4");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__link {
    display: flex;
    justify-content: left;
    text-align: left;
    color: #333333;
  }
}
