.main {
  background: url(../../assets/img/jpg/main-bg.jpg) no-repeat center;
}

.container {
  max-width: 1100px;
}

.preview {
  height: 900px;
  font-family: "Marcellus";
  color: white;
  font-weight: 400;
}

.preview__quote {
  margin: 0;
  font-size: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.quote-author {
  margin: 0;
  font-size: 35px;
  text-align: right;
}
