.main {
  background-color: #e5e5e5;
  font-family: "Marcellus";
}

.preview {
  background: url(../../assets/img/jpg/main-bg.jpg) no-repeat center;
  color: white;
  font-weight: 400;
  margin: auto;
  padding-top: 14%;

  &__quote {
    margin: 0;
    font-size: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 250px;
    margin-top: 15%;
    padding-bottom: 10%;
    justify-content: center;
  }

  &__button {
    width: 170px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #998431;
    color: white;
  }

  &__button:hover {
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s;
  }
}

.quote-author {
  margin: 0;
  font-size: 35px;
  text-align: right;
  margin-top: 10%;
}

.coupon {
  height: 750px;

  &__wrapper {
    display: flex;
    width: 100%;
    // height: 100%;
    gap: 20px;
  }

  &__img {
    width: 506px;
    height: 600px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 33px;
    text-align: center;
  }

  &__button {
    width: 260px;
    height: 70px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #998431;
    color: white;
  }

  &__button:hover {
    background-color: transparent;
    border: 1px solid #333333;
    color: #333333;
    transition: 0.3s;
  }
}

.break-line {
  width: 1100px;
  height: 1px;
  background-color: #998431;
}

.text__bold {
  font-weight: 900;
}

.categories {
  height: 670px;
  background-color: #333333;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 260px;
    height: 384px;
  }

  &__images {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
