.main {
  background: url(../../assets/img/jpg/main-bg.jpg) no-repeat center;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.preview {
  height: 900px;
  font-family: "Marcellus";
  color: white;
  font-weight: 400;
  width: 700px;
  margin: auto;
}

.preview__quote {
  margin: 0;
  font-size: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.quote-author {
  margin: 0;
  font-size: 35px;
  text-align: right;
  margin-top: 10%;
}

.preview__buttons {
  width: 700px;
  display: flex;
  gap: 250px;
  margin-top: 15%;
  justify-content: center;
}

.preview__button {
  width: 170px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #998431;
  color: white;
}

.preview__button:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s;
}

.categories {
  height: 475px;
  background-color: #333333;
}

.categories__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__image {
  width: 268px;
  height: 395px;
}
