.cart-page {
  width: 100%;
  height: 90vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}

.purchases {
  display: flex;
  width: 100%;
  gap: 25px;

  &__table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65.5%;
    height: 500px;
    border: 1px solid #7d7d7d;
  }

  &__table-header {
    height: 60px;
    border: solid #7d7d7d;
    border-width: 0 0 1px 0;
  }

  &__table-footer {
    height: 60px;
    border: solid #7d7d7d;
    border-width: 1px 0 0;
  }

  &__table-promo-input {
    width: 260px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d6d6d6;
  }

  &__table-promo-button {
    width: 225px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__total-container {
    width: 31%;
    border: solid #7d7d7d;
  }

  &__total-header {
    height: 60px;
    background: #c4c4c4;
    border: solid #7d7d7d;
    border-width: 0 0 1px 0;
  }

  &__total-button {
    width: 260px;
    height: 60px;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
