.footer {
  width: 100%;
  font-family: "Marcellus";
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
  height: 160px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__info {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
}

.logo-wrapper,
.phone-wrapper,
.media-wrapper,
.athors-wrapper {
  width: 274px;
  border-right: 1.5px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.media-wrapper {
  gap: 35px;
}

.athors-wrapper {
  border-right-style: none;
}
