.footer {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
  height: 160px;
  background-color: #333333;
}

.footer__wrapper {
  width: 1100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
}

.logo-wrapper,
.phone-wrapper,
.media-wrapper,
.athors-wrapper {
  width: 274px;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  border-left-style: none;
  border-top-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-wrapper {
  gap: 35px;
}

.youtube {
  background: url(../../assets/img/svg/youtube-icon.svg) no-repeat center;
  width: 37px;
  height: 34px;
}

.vk {
  background: url(../../assets/img/svg/vk-icon.svg) no-repeat center;
  width: 34px;
  height: 32px;
}

.facebook {
  background: url(../../assets/img/svg/facebook-icon.svg) no-repeat center;
  width: 41px;
  height: 34px;
}

.athors-wrapper {
  border-right-style: none;
}