.info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #ffffff;
  transition: all 0.4s ease 0s;

  &:hover {
    background-color: #a1a1a1;
  }
}
